.task-dashboard-page{
    min-height: 100vh;
    background-color: #CED1DC;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;
    padding: 1% 20vh;
}

.page-header h1 {
    margin: 0;
    text-transform: uppercase;
    text-indent: 3px;
    font-family:fantasy;
    letter-spacing: 40%;
    color: #9A9BA6;
}

.task-dashboard-universal-new-task-button{
    height: 5vh;
    width: 20%;
    border: none;
    background-color: #942637;
    color: #CED1DC;
    text-transform: uppercase;
    font-family: cursive;
    letter-spacing: 20%;
}

 .task-dashboard-groups-navigation{
    visibility: hidden;
 }

 .task-dashboard-content{
    height: 80vh;
    margin: 0 20vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh
 }

 .task-dashboard-task-container{
    background-color: #9A9BA6;
    min-width: 100%;
    display: flex;
    gap: 2vh;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0 2vh;
 }

 .task-dashboard-task-container ul{
    display: none;
 }

 .task-dashboard-task{
    border: solid, black;
    max-height: 100%;
    margin-top: 5vh;
    margin-bottom: 2vh;
 }

.frog .task-dashboard-task{
    min-width: 90%;
    background-color: #798573;
    border: #5A6256 solid;
}

.energy .task-dashboard-task{
    min-width: 30%;
    background-color: #F3D9C6;
    border: #CB9A93 solid;
}

.flash .task-dashboard-task{
    min-width: 17%;
    background-color: #89DCFF;
    border: #43ADE6 solid;
}

 .add{
    display: grid;
    place-items: center;
    font-family: fantasy;
    font-size: 8vh;
    transition: font-size 0.25s ease;
    color: #9A9BA6;
 }
